<!doctype html>
<html lang="en">
    {% include 'head.liquid' %}
    <body>
        {% include 'nav.liquid' %}

        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-WPVXTKHW"
                height="0"
                width="0"
                style="display:none;visibility:hidden"
            ></iframe
        ></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <main>
            {{ content }}
        </main>
    </body>
</html>
