<div class="dice-container">
    <div class="dice">
        <div class="face front">
            <div class="pips pips-1">
                <span class="pip"></span><span class="pip"></span><span class="pip"></span> <span class="pip"></span
                ><span class="pip"></span><span class="pip"></span> <span class="pip"></span><span class="pip"></span
                ><span class="pip"></span>
            </div>
        </div>

        <div class="face back">
            <div class="pips pips-2">
                <span class="pip"></span><span class="pip"></span><span class="pip"></span> <span class="pip"></span
                ><span class="pip"></span><span class="pip"></span> <span class="pip"></span><span class="pip"></span
                ><span class="pip"></span>
            </div>
        </div>

        <div class="face right">
            <div class="pips pips-3">
                <span class="pip"></span><span class="pip"></span><span class="pip"></span> <span class="pip"></span
                ><span class="pip"></span><span class="pip"></span> <span class="pip"></span><span class="pip"></span
                ><span class="pip"></span>
            </div>
        </div>

        <div class="face left">
            <div class="pips pips-4">
                <span class="pip"></span><span class="pip"></span><span class="pip"></span> <span class="pip"></span
                ><span class="pip"></span><span class="pip"></span> <span class="pip"></span><span class="pip"></span
                ><span class="pip"></span>
            </div>
        </div>

        <div class="face top">
            <div class="pips pips-5">
                <span class="pip"></span><span class="pip"></span><span class="pip"></span> <span class="pip"></span
                ><span class="pip"></span><span class="pip"></span> <span class="pip"></span><span class="pip"></span
                ><span class="pip"></span>
            </div>
        </div>

        <div class="face bottom">
            <div class="pips pips-6">
                <span class="pip"></span><span class="pip"></span><span class="pip"></span> <span class="pip"></span
                ><span class="pip"></span><span class="pip"></span> <span class="pip"></span><span class="pip"></span
                ><span class="pip"></span>
            </div>
        </div>
    </div>
</div>

<!-- animation handled by /js/dice.js (module script included in base template) -->
<script type="module">
    import { animate } from '/js/anime.esm.min.js';
    animate('.dice', {
        rotateY: '360deg',
        rotateX: '360deg',
        loop: true,
        easing: 'linear',
        duration: 8000,
    });
</script>
